.dotted-button {
  border-radius: 16px;
  border: 2px dashed #ffffff;
  background: #0f172a;
  padding: 12px 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dotted-button:hover {
  transform: translate(-4px, -4px);
  border-radius: 6px;
  box-shadow: 4px 4px 0 #ffffff;
}

.dotted-button:active {
  transform: translate(0, 0);
  border-radius: 16px;
  box-shadow: none;
}
